button.primaryColorBtn {
  height: 32rem;
  padding: 0 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  border-radius: 4rem;
  background: #4171cd;
  border: none;

  &.pulsing {
    animation: pulse 1.5s infinite;
  }

  &:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(#4171cd, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(#4171cd, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(#4171cd, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(#4171cd, 0.4);
      box-shadow: 0 0 0 0 rgba(#4171cd, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(#4171cd, 0);
      box-shadow: 0 0 0 10px rgba(#4171cd, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(#4171cd, 0);
      box-shadow: 0 0 0 0 rgba(#4171cd, 0);
    }
  }

  & span.btnLabelWhite {
    font-family: Inter, sans-serif;
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
  }

  & path {
    fill: #fff;
  }
}

.mask {
  background: red;
}

.headerTitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.headerBtnsWrapper {
  display: flex;
  gap: 8px;
}

.addonBeforeNumber {
  color: rgba(0, 0, 0, 0.5);
}

.divider {
  margin: 8px 0;
  flex-basis: 100%;
}

.formWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.setTimerCheckbox,
.publishedCheckbox {
  & span {
    font-size: 14px;
  }
}

.minScore {
  flex-basis: 280px;
}

.deadlineDatePicker,
.deadlineTimePicker,
// .setTimerCheckbox,
.timerPicker {
  //   flex-basis: calc(50% - 4px);
  flex-basis: 100%;
}

.attempsNumber {
  flex-basis: 220px;
}
