.mainWrapper {
  min-width: 44.58%;
  background: #fff;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.subWrapper {
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 24rem;
}

.headerLeft {
  display: flex;
  gap: 16rem;
  padding: 16rem 0;
  
  &.more {
    width: 100%;
  }
}

.avatarsWrapper {
  position: relative;
  display: flex;
  border-radius: 2rem;
  width: 54rem;
  align-items: center;

  & :first-child {
    transform: translateX(50%);
    z-index: 2;
    position: relative;
  }

  &.more{
    width: 100%; 
  }
}

.avatarImage {
  position: absolute;
  width: 28rem;
  height: 28rem;

  border-radius: 50%;
  border: 2rem solid #fff;
  left: 0;
  transition: transform 500ms ease-out;
  object-fit: cover;
}

.noImageAvatar {
  background: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14rem;
}

.showMoreAvatarsButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18rem;
  color: #718da7;
}

.showLessAvatarsButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18rem;
  color: #718da7;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.participantsInfo {
  font-size: 14rem;
  line-height: 1;
  text-transform: uppercase;
  color: #718da7;
}

.onlineInfo {
  font-size: 12rem;
  line-height: 1;
  color: #74bb77;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.gridIconHeader {
  width: 14rem;
  height: 14rem;
  fill: #718DA7;
}

.chatname {
  font-size: 14rem;
  line-height: 17rem;
  text-transform: uppercase;
  color: #718DA7;
}

.divider {
  margin: 0 24rem;
  height: 1rem;
  background-color: #CFCFCF;
}

.formWrapper {
  position: relative;
  padding: 22rem 24rem;
}

.replyTo {
  position: absolute;
  top: 0;
  font-size: 14rem;
  line-height: 22rem;
  color: #4171CD;
}

.chatFeedWrapper {
  padding: 24rem;
  flex-grow: 1;
  max-height: calc(100% - 155rem);
  min-height: calc(100% - 275rem);
  overflow-y: auto;
}
