.mainWrapper {
  min-width: 44.58%;
  background: #fff;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.subWrapper {
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 24rem;
  gap: 32rem;
}

.headerLeft {
  display: flex;
  gap: 16rem;
  padding: 16rem 0;
  flex-shrink: 0;

  &.more {
    width: 100%;
  }
}

.avatarsWrapper {
  position: relative;
  display: flex;
  border-radius: 2rem;
  width: 54rem;
  align-items: center;

  & > div:first-child {
    transform: translateX(50%);
    z-index: 4;
    position: relative;

    & .status {
      z-index: 4;
    }
  }

  &.more {
    width: 100%;
  }
}

.imageWrapper {
  position: absolute;
  width: 28rem;
  height: 28rem;

  border-radius: 50%;
  border: 2rem solid #fff;
  left: 0;
  transition: transform 500ms ease-out;

  & .avatarImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26rem;
    height: 26rem;

    border-radius: 50%;
    object-fit: cover;
  }

  & .status {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    box-sizing: content-box;
    width: 6rem;
    height: 6rem;
    border: 2rem solid #fff;
    border-radius: 50%;
    z-index: 2;
  }

  & .online {
    background-color: #00c808;
  }

  & .offline {
    background-color: #f00;
  }
}

.noImageAvatar {
  background: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14rem;
}

.showMoreAvatarsButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18rem;
  color: #718da7;
}

.showLessAvatarsButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18rem;
  color: #718da7;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.participantsInfo {
  font-size: 14rem;
  line-height: 1;
  text-transform: uppercase;
  color: #718da7;
}

.onlineInfo {
  font-size: 12rem;
  line-height: 1;
  color: #74bb77;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.gridIconHeader {
  width: 14rem;
  height: 14rem;
  fill: #718da7;
}

.chatname {
  font-size: 14rem;
  line-height: 17rem;
  text-transform: uppercase;
  color: #718da7;
  text-overflow: ellipsis;
}

.divider {
  margin: 0 24rem;
  height: 1rem;
  background-color: #cfcfcf;
}

.formWrapper {
  position: relative;
  padding: 22rem 24rem;
}

.replyTo {
  position: absolute;
  top: 0;
  font-size: 14rem;
  line-height: 22rem;
  color: #4171cd;
}

.chatFeedWrapper {
  padding: 24rem;
  flex-grow: 1;
  max-height: calc(100% - 155rem);
  min-height: calc(100% - 275rem);
  overflow-y: auto;
}

.chatFeedWrapperFixed {
  padding: 24rem;
  flex-grow: 1;
  max-height: calc(100% - 255rem);
  min-height: calc(100% - 375rem);
  overflow-y: auto;
}
