.programList {
  padding: 40rem 88rem;
  border-radius: 5rem;
  background: #fafbff;
  box-shadow: 0 0 11rem 0px rgba(0, 28, 176, 0.11);

  & button {
    position: absolute;
    transform: translateY(calc((32rem - 16px) / 2));
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .programItemTitleWrapper > div,
  & .programChildText > div {
    background-color: #fff;
    transition: background-color 300ms ease-out;
  }

  & li:last-child .programItemTitleWrapper > div,
  & li ul li:last-child .programChildText > div {
    background-color: #4171cd;
    & p,
    & h4,
    & input {
      color: #fff;
    }
  }
}

.programItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16rem;

  &:not(:last-child) {
    padding-bottom: 24rem;
  }
  transition: all 200ms ease-in-out;
}

div.programItemTitleWrapper {
  height: 32rem;
  border-radius: 2rem;
  position: relative;

  & div {
    width: 100%;
    height: 32rem;
    box-shadow: 0 0 3.7rem rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
  }

  & h4 {
    padding: 0 24rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter, sans-serif;
    font-size: 18rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & input {
    padding: 0 24rem;
    border-radius: 2rem;
    text-align: start;

    color: rgba(0, 0, 0, 0.5);
    font-family: Inter, sans-serif;
    font-size: 18rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.programChildList {
  padding-left: 32rem;
  min-height: 10rem;
}

.programChildItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16rem;

  &:not(:last-child) {
    padding-bottom: 16rem;
  }
}

div.programChildText {
  height: 32rem;
  border-radius: 2rem;
  position: relative;

  & > div {
    width: 100%;
    height: 32rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 3.7rem rgba(0, 0, 0, 0.12);
  }

  & p {
    padding: 0 24rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & input {
    padding: 0 24rem;
    border-radius: 2rem;
    text-align: start;

    color: rgba(0, 0, 0, 0.5);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.deleteBtn {
  right: calc(100% + 48rem);
}

.dragBtn {
  right: calc(100% + 16rem);
}

.editBtn {
  left: calc(100% + 16rem);

  & svg path {
    fill: #5e5e5e;
  }
}

.submitBtn {
  left: calc(100% + 16rem);
}

.cancelBtn {
  left: calc(100% + 36rem);
}

li.programItem button.addItemParentBtn,
li.programChildItem button.addItemChildBtn {
  inset: 0;
  width: 100%;
  height: 32rem;
  border-radius: 2.087rem;
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 14rem;
  font-family: Inter, sans-serif;
  height: 0;
  opacity: 0;
  transition: all 300ms ease-out;
}

li.itemActive.hoveredParent .programItemTitleWrapper {
  padding-bottom: 80rem;

  & button.addItemParentBtn {
    z-index: 1;
    transform: translateY(calc(100% + 16rem));
    height: 32rem;
    opacity: 1;
  }
}

li.itemActive:hover.hoveredChild .programChildText {
  padding-bottom: 80rem;

  & button.addItemChildBtn {
    transform: translateY(calc(100% + 16rem));
    height: 32rem;
    opacity: 1;
  }
}
