.audioWrapper {
  padding: 24rem 16rem;
  border-radius: 2px;
  border: 1rem solid #7e7e7e;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 48rem;
  position: relative;
}

.editPanel {
  display: inline-flex;
  gap: 8rem;
  padding: 4rem 8rem;
  align-items: center;

  border-radius: 0 0 2rem 2rem;
  border: 1rem solid #7e7e7e;

  position: absolute;
  top: 100%;
  right: 28rem;

  & svg {
    width: 16rem;
    height: 16rem;
  }
}

.mainContentWrapper {
  position: relative;

  & audio {
    display: block;
    width: 1080rem;
    margin: 0 auto 24rem;
  }

  & .deleteBtn {
    width: 16rem;
    height: 16rem;
    position: absolute;
    right: 20rem;
    top: 0rem;

    border-radius: 1.455rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0rem 1.45455rem 2.90909rem 0rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.909090757369995rem);

    &:hover path {
      fill: #d60000;
    }
  }
}

.detailsBtn {
  & rect {
    fill: rgba(0, 0, 0, 0.5);
  }
}

.text {
  margin-bottom: 28rem;
}

.fileWrapper {
  position: relative;
}

.dragger {
  width: 1080rem;
  height: 80rem;
  margin: 0 auto 24rem;

  border-radius: 2rem 2rem 0 0;
  display: flex;

  & .draggerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
  }

  & svg {
    width: 28rem;
    height: 28rem;
  }

  & p {
    color: #b3b3b3;
    font-family: Inter, sans-serif;
    font-size: 16rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.progressWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
