.mainWrapper {
  display: inline-flex;
  position: absolute;
  bottom: 8rem;
  left: 156rem;
  gap: 9rem;
  justify-content: center;  
  height: 32rem;
  align-items: center;
}

.openPopupButton:hover {
    & path {
        fill: #4171cd;
    }
}

