.popconfirmOverlay .ant-popover-inner {
  padding: 0;
  box-shadow: 0rem 0rem 3.7067272663116455rem 0rem rgba(0, 0, 0, 0.12);
  transform: translateX(-7rem);
}

.popconfirmOverlay .ant-popover-arrow {
  display: none;
}
