.emptyWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.instructionHeader {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rem solid #cfcfcf;

  & svg {
    width: 16rem;
    height: 16rem;
  }
}

.navBtnsWrapper {
  display: flex;
  gap: 10rem;

  & button:disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.instructionBody {
  height: calc(100% - 60rem);
  padding: 24px 0;
  overflow-y: auto;
}

.textInfoWrapper {
  margin-bottom: 32rem;
}

.instructionTitle {
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, sans-serif;
  font-size: 16rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.instructionSubTitle {
  margin-bottom: 10rem;
  color: #b3b3b3;
  font-family: Inter, sans-serif;
  font-size: 14rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.instructionText {
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
  font-family: Inter, sans-serif;
  font-size: 14rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.instructionFiles {
  & > *:not(:last-child) {
    margin-bottom: 16rem;
  }
}

.attachedLink {
  display: flex;
  align-items: center;
  gap: 8rem;

  & span {
    color: #4171cd;
    font-family: Inter, sans-serif;
    font-size: 14rem;
    font-style: italic;
    font-weight: 400;
    line-height: 22rem;
  }

  &:hover span {
    text-decoration-line: underline;
  }
}

.attachedDocumentWrapper {
  display: flex;
  gap: 12rem;
  align-items: center;

  & svg {
    width: 16rem;
    height: 16rem;
  }

  & .documentName {
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .documentSize {
    color: #bdbdbd;
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .downloadLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2rem);

    &:hover path {
      fill: #d60000;
    }
  }
}
