.uploadButton {
    position: absolute;
    width: 96rem;
    height: 96rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 250ms ease-out;
    background: rgba(#000, 0.5);
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.icon {
    margin-right: 4rem;

    & svg {
        width: 12rem;
        height: 12rem;
    }
}

.edit {
    font-size: 12rem;
    line-height: 14.52rem;
}