.filesWrapper {
  padding: 24rem 16rem;
  border-radius: 2px;
  border: 1rem solid #7e7e7e;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 48rem;
  position: relative;
}

.audioFileWrapper {
  width: 1080rem;
  height: 64rem;
  margin: 0 auto 24rem;

  border-radius: 2rem 2rem 0 0;
  background: #f4f4f4;
}

.editPanel {
  display: inline-flex;
  gap: 8rem;
  padding: 4rem 8rem;
  align-items: center;

  border-radius: 0 0 2rem 2rem;
  border: 1rem solid #7e7e7e;

  position: absolute;
  top: 100%;
  right: 28rem;

  & svg {
    width: 16rem;
    height: 16rem;
  }
}

.detailsBtn {
  & rect {
    fill: rgba(0, 0, 0, 0.5);
  }
}

.text {
  margin-bottom: 28rem;
}

.fileWrapper {
    position: relative;
}

.dragger {
//   width: 1080rem;
  height: 112rem;
  margin: 0 auto 24rem;

  border-radius: 2rem 2rem 0 0;
  display: flex;

  & .draggerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  & svg {
    width: 36rem;
    height: 36rem;
  }

  & p {
    color: #b3b3b3;
    font-family: Inter, sans-serif;
    font-size: 16rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.progressWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.documentsCardsWrapper {
    display: flex;
    gap: 24rem;
    flex-wrap: wrap;
    margin-bottom: 24rem;
}

.attachedDocumentWrapper {
  display: flex;
  gap: 12rem;
  align-items: center;
//   margin-bottom: 24rem;

  & svg {
    width: 16rem;
    height: 16rem;
  }

  & .documentName {
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .documentSize {
    color: #bdbdbd;
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .downloadLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2rem);

    &:hover path {
      fill: #d60000;
    }
  }
}
