.lessonsList {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  overflow: hidden;
}

.lessonsItem {
  position: relative;
  width: 100%;
  height: 116rem;
  display: flex;
  flex-direction: column;
  padding: 16rem 32rem 16rem 16rem;
  background: #fff;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}

.lessonSubject {
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;
  color: #000000;
  height: 37rem;
  margin-bottom: 18rem;
}

.lessonTime,
.lessonLecturer {
  font-size: 13rem;
  line-height: 16rem;
  color: rgba(0, 0, 0, 0.5);
}

.detailsButton {
  position: absolute;
  top: 16rem;
  right: 16rem;
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
}

.lessonsAddItem {
  width: 100%;
  height: 116rem;
  box-shadow: 0px 0px 4rem 0px rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
  overflow: hidden;

  & button {
    width: 100%;
    background: rgba(202, 202, 202, 0.4);
    color: rgba($color: #000, $alpha: 0.5);
    height: 100%;
    font-size: 32rem;
    line-height: normal;
  }

  &:hover {
    border: 1rem solid rgba(0, 0, 0, 0.5);
  }
}
