.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 24rem;
  padding: 0 39rem 0 35rem;
}

.notificationWrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  padding: 20rem 0;
  height: 104rem;
  background: #4171cd;
  border-radius: 7rem;
  cursor: pointer;

  & svg {
    display: block;
    resize: none;
    width: 20rem;
    height: 20rem;
  }

  & p {
    padding: 0 2rem;
    font-weight: 500;
    font-size: 14rem;
    line-height: 122.3%;
    text-align: center;
  }
}
