.videoWrapper {
  padding: 24rem 16rem;
  border-radius: 2px;
  border: 1rem solid #7e7e7e;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 48rem;
  position: relative;
}

.editPanel {
  display: inline-flex;
  gap: 8rem;
  padding: 4rem 8rem;
  align-items: center;

  border-radius: 0 0 2rem 2rem;
  border: 1rem solid #7e7e7e;

  position: absolute;
  top: 100%;
  right: 28rem;

  & svg {
    width: 16rem;
    height: 16rem;
  }
}

.detailsBtn {
  & rect {
    fill: rgba(0, 0, 0, 0.5);
  }
}

.text {
  margin-bottom: 28rem;
}

.mainContentWrapper {
  width: 1080rem;
  min-height: 668rem;
  margin: 0 auto 24rem;
  padding: 54rem 72rem;

  border-radius: 2rem 2rem 0 0;
  background: #f4f4f4;
  box-shadow: 0 0 16rem 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  position: relative;

  & video {
    // width: 1080rem;
    aspect-ratio: 16/9;
  }

  & .deleteBtn {
    width: 16rem;
    height: 16rem;
    position: absolute;
    left: calc(100% + 8rem);
    top: 0rem;
    z-index: 2;

    border-radius: 1.455rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0rem 1.45455rem 2.90909rem 0rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.909090757369995rem);

    &:hover path {
      fill: #d60000;
    }
  }
}

.fileWrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;

  border-radius: 8rem;

  display: flex;
  justify-content: center;
}

.dragger {
  flex-grow: 1;

  & svg {
    width: 132rem;
    height: 132rem;
    margin-bottom: 4rem;
  }

  & p {
    width: 248rem;
    height: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b3b3;
    font-family: Inter, sans-serif;
    font-size: 16rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.progressWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
