.messageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10rem;
}

.selfMessage {
  flex-direction: row-reverse;

  & .contentWrapper {
    display: flex;
    flex-direction: column;

    // & > *:not(:nth-last-child(2), :nth-last-child(1)) {
    //   align-self: flex-end;
    // }
  }
}

.messageWithAnswers {
  &::before {
    content: "";
    position: absolute;
    top: 20rem;
    left: 20rem;
    width: 1rem;
    height: calc(100% - 20rem);
    background-color: #d9d9d9;
    z-index: 1;
  }
}

.messageWithAnswersSelf {
  &::before {
    content: "";
    position: absolute;
    top: 20rem;
    right: 20rem;
    width: 1rem;
    height: calc(100% - 20rem);
    background-color: #d9d9d9;
    z-index: 1;
  }
}

.feedbackSelf {
  position: relative;
  padding-right: 48rem;
  margin-top: -24rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 20rem;
    width: 1rem;
    height: 100%;
    background-color: #d9d9d9;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20rem;
    right: 20rem;
    width: 28rem;
    height: 1rem;
    background-color: #d9d9d9;
  }
}

.feedback {
  position: relative;
  padding-left: 48rem;
  margin-top: -24rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20rem;
    width: 1rem;
    height: 100%;
    background-color: #d9d9d9;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20rem;
    left: 20rem;
    width: 28rem;
    height: 1rem;
    background-color: #d9d9d9;
  }
}

.lastAnswer {
  &::before {
    height: 20rem;
  }
}

.avatarWrapper {
  position: relative;
  height: fit-content;
  z-index: 2;

  & > img {
    display: block;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #0c2e4c;
    object-fit: cover;
  }

  & > span {
    width: 40rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18rem;
  }
}

.status {
  position: absolute;
  bottom: -3rem;
  right: 1rem;
  box-sizing: content-box;
  width: 10rem;
  height: 10rem;
  border: 3rem solid #fff;
  border-radius: 50%;
}

.online {
  background-color: #00c808;
}

.offline {
  background-color: #f00;
}

.contentSubWrapper {
  padding-bottom: 12rem;
  min-width: 250rem;
  transition: all 250ms ease-out;
}

.userName {
  font-size: 12rem;
  line-height: 15rem;
  color: #718da7;
  margin-bottom: 4rem;
}

.contentWrapper {
  position: relative;
  padding: 10rem 27rem 10rem 16rem;
  box-shadow: 0rem 0rem 10rem rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-out;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(129, 172, 255, 0.5);
    opacity: 0;
    transition: opacity 250ms ease-out;
  }

  // & > *:not(:last-child),
  & > *:not(:nth-last-child(2), :nth-last-child(1)) {
    margin-bottom: 8rem;
  }

  & div.content {
    font-size: 13rem;
    line-height: 20rem;
    color: #0c2e4c;
    transition: color 250ms ease-out;
    // align-self: flex-start;

    & ul,
    li {
      list-style: inside;
    }

    & u {
      text-decoration: underline;
    }
  }
}

.contentWrapperUnread {
  &::before {
    opacity: 1;
  }
}

.feedbackButton {
  position: absolute;
  bottom: -12rem;
  right: 16rem;
  width: 115rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: #fff;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}

.feedbackButtonSelf {
  left: 16rem;
  right: auto;
}

.feedbackButtonTitle {
  font-size: 13rem;
  line-height: 16rem;
  color: #718da7;
}

// document in chat styles //
.documentWrapper {
  display: flex;
  min-width: 232rem;
  width: fit-content;
  padding: 8rem 12rem;
  justify-content: space-between;
  align-items: center;
  gap: 32rem;
  border: 1rem dashed rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
}

.fileInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
}

.iconWrapper {
  width: 18rem;
  height: 24rem;
  position: relative;
  overflow: hidden;

  & svg {
    width: 100%;
    height: 100%;
  }

  & .format {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.name,
.size {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  position: relative;
}

.name::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 50%;
  left: calc(100% + 6rem);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.downloadLink {
  cursor: pointer;
  z-index: 2;
}
// document in chat styles //
