.messageWrapper {
  width: 100%;
  display: flex;
  gap: 10rem;
}

.feedback {
  position: relative;
  padding-left: 48rem;
  margin-top: -24rem;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 20rem);
    right: calc(100% - 48rem);
    width: 28rem;
    height: 100%;
    border-left: 1rem solid #d9d9d9;
    border-bottom: 1rem solid #d9d9d9;
    z-index: 1;
  }
}

.avatarWrapper {
  position: relative;
  height: fit-content;
  z-index: 2;
}

.avatar {
  display: block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: #0c2e4c;
  object-fit: cover;
}

.status {
  position: absolute;
  bottom: -3rem;
  right: 1rem;
  box-sizing: content-box;
  width: 10rem;
  height: 10rem;
  border: 3rem solid #fff;
  border-radius: 50%;
}

.online {
  background-color: #00c808;
}

.offline {
  background-color: #f00;
}

.contentSubWrapper {
  // flex-grow: 1;
  padding-bottom: 12rem;
  min-width: 160rem;
}

.userName {
  font-size: 12rem;
  line-height: 15rem;
  color: #718da7;
  margin-bottom: 4rem;
}

.contentWrapper {
  position: relative;
  padding: 10rem 27rem 10rem 16rem;
  box-shadow: 0rem 0rem 10rem rgba(0, 0, 0, 0.2);
}

.content {
  font-size: 13rem;
  line-height: 20rem;
  color: #0c2e4c;

  & ul, li {
    list-style: inside;
  }

  & u {
    text-decoration: underline;
  }
}

.feedbackButton {
  position: absolute;
  bottom: -12rem;
  right: 16rem;
  width: 115rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: #fff;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}

.feedbackButtonTitle {
  font-size: 13rem;
  line-height: 16rem;
  color: #718da7;
}
