.mainWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f6fc;
}

.subWrapper {
  height: 100%;
  padding: 16rem;
  display: flex;
  flex-direction: row;
  gap: 16rem;
  overflow-x: auto;
}

.title {
  margin-left: 16rem;
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.scheduleWrapper {
  display: flex;
  gap: 16rem;
  flex-grow: 1;
}

.dayScheduleWrapper {
  overflow-y: auto;
  width: 280rem;
  flex-shrink: 0;
}

.dateWrapper {
  padding-left: 16rem;
  display: flex;
  color: #545454;
  display: flex;
  align-items: flex-end;
  margin-bottom: 8rem;
}

.dayInfo {
  font-size: 21rem;
  line-height: 25rem;
  margin-right: 2rem;
}

.dateSubWrapper {
}

.monthInfo {
  font-size: 9.14286rem;
  line-height: 10rem;
}

.dayOfWeekInfo {
  font-size: 10.4348rem;
  line-height: 11rem;
}

.toggleButton {
  position: absolute;
  top: 18rem;
  right: 16rem;
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.851064rem solid rgba(0, 0, 0, 0.5);
  border-radius: 3.40426rem;
}
