.massageForm {
  position: relative;
}

.toolbarRight {
  position: absolute;
  bottom: 8rem;
  right: 16rem;
}

.sendButton {
  width: 33rem;
  height: 33rem;
  background-color: #3a5cbd;
  border-radius: 4rem;
  border: 1rem solid transparent;
  transition: all 300ms ease-out;

  & svg {
    transition: transform 300ms ease-out;

    & path {
      transition: fill 300ms ease-out;
    }
  }

  &:hover {
    background-color: transparent;
    border-color: #3a5cbd;

    & svg {
      transform: rotate(45deg);

      & path {
        fill: #3a5cbd;
      }
    }
  }

}

.pinBtn {
  position: absolute;
  bottom: 16rem;
  left: 485rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border: 1rem solid transparent;
  border-radius: 4rem;

  &.active {
    border-color: #3a5cbd;
    transform: scale(1.1);
  }

  & svg {
    width: 14rem;
    height: 14rem;
  }

  &.active path {
    fill: #3a5cbd;
    fill-opacity: 1;
  }
}

.attachBtnWrapper {
  width: 16rem;
  height: 16rem;
  position: absolute;
  top: 16rem;
  right: 16rem;
}