.massageForm {
  position: relative;
}

.toolbarRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.sendButton {
  width: 33px;
  height: 33px;
  background: #3a5cbd;
  border-radius: 4px;
}
