.massageForm {
  position: relative;
}

.toolbarRight {
  position: absolute;
  bottom: 8rem;
  right: 16rem;
}

.sendButton {
  width: 33rem;
  height: 33rem;
  background: #3a5cbd;
  border-radius: 4rem;
}
