.taskDetailWrapper {
  width: 100%;
  // height: calc(100% - 60rem);
  height: 100%;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;

  & > div {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

.controlPanel {
  padding-top: 16rem;
  padding-bottom: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1rem solid #cfcfcf;
}

.navWrapper {
  display: flex;
  gap: 10rem;
  align-items: center;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.additionNavWrapper {
  display: flex;
  gap: 24rem;

  & button {
    height: 32rem;
    padding: 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    border-radius: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.5);

    & span {
      color: rgba(0, 0, 0, 0.5);
      font-family: Inter, sans-serif;
      font-size: 14rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    & svg path {
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter, sans-serif;
  font-size: 20rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 6rem;
  text-transform: uppercase;
}
