.detailsBtn {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 16rem;
  height: 16rem;
}

.menuItemWrapper {
  display: flex;
  align-items: center;
  gap: 8rem;

  & svg {
    width: 16rem;
    height: 16rem;

    & path {
      fill: #000;
      fill-opacity: 0.5;
    }
  }

  &:hover {
    & path {
      fill-opacity: 1;
    }
    & .editIcon path {
      fill: #000;
    }
    & .deleteIcon path {
      fill: #fff;
    }
  }
}
